.header {
  margin-top: 92px;
  display: grid;
  width: 1052px;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
}

.header__menu {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 18px;
}

ul {
  display: flex;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
  margin-right: 30px;
}

.header__links-list-item {
  list-style: circle;
  margin-right: 30px;
} 

.header__logo {
  display: block;
  height: 105px;
  width: 148px;
}

.adress {
  display: grid;
  place-content: end center;
  text-decoration: none;
}

.header__adress {
  text-decoration: underline;
}

.cover {
  margin-top: 95px;
  background-color: black;
}